<div id="feed_header">
<h1>Holler Back, Y'all!</h1>
<p><a href='/log_out'>Log Out</a></p>
</div>

<div id="nav"><p>
<%=@user.name%><br/>
<%=@user.user_handle%><br>
<%=@user.tweets.count%>TWEET COUNT<br>
FOLLOWING COUNT<br>
FOLLOWERS COUNT<br>

<h1>Welcome <%=@user.full_name%> </h1>
</div>

<div id="nav">
  <%=@user.full_name%><br>
  <%=@user.user_handle%><br>
  <%=@user.hollers.count%><br>
  FOLLOWER/FOLLOWING counts <br>
</div>

<div id="feed">
  <div id="holler">
<table id ="holler_table">
    <%@hollers.each do |holler|%>
  <tr>
    <td><%=holler.user.user_handle%></td>
    <td></td>
    <td><%=holler.created_at@%></td>
  </tr>
  <tr style="text-align: center">
    <td><%=holler.created_at@%>
</td>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><form action="/reholler" method="post">
    <input type="reholler" value="Reholler"/></td>
  </tr>
</table>
</div>
</div>

<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div>
