<div id="header">
<h1>Holler Back, Y'all!</h1>
<p><a href='/log_out'>Log Out</a></p>
</div>

<div id="nav"><p>
<%=@user.name%><br/>
<%=@user.user_handle%><br>
<%=@user.tweets.count%>TWEET COUNT<br>
FOLLOWING COUNT<br>
FOLLOWERS COUNT<br>

<h1>Welcome <%=@user.full_name%> </h1>
</div>

<div id="nav">
<%=@user.full_name%><br>
<%=@user.user_handle%><br>
<%=@user.hollers.count%><br>
FOLLOWER/FOLLOWING counts <br>
</div>


</div>

<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div>
