

<div id="feed_header">
<div id="header">
<h1>Holler Back, Y'all!</h1>
<h2>Welcome, <%=@user.full_name%>! </h2>


<p><a href='/log_out'>Log Out</a></p>
</div>
</div>


<div id="bg_left">

  <div id="nav">
    <p><%=@user.full_name%><br>
    <p><a href="/user/<%=@user.user_handle%>"><%=@user.user_handle%></a></p><br>
    <p>Followers: <%=@user.follows.where( follower_id: @user.id).count%></p><br>
    <p>Following: <%=@user.follows.where( followed_id: @user.id).count%></p><br>
  </div>




</div>
<div id="feed">
  <!-- <div id="holler"> -->

    <%@hollers.reverse_each do |holler|%>
  <ul class="holler_content">
    <li class="time"><%=holler.created_at.strftime("%B %d, %Y, %l:%M")%></li>

    <li class="content"><br/><%=holler.content.upcase%></li>
    <li id="handle"><a href="/user/<%=holler.user.user_handle%>"><%=holler.user.user_handle%></a>     </li>

  <li class=" rehol reholler">Reholler</li><br>  </ul>
<%end%>
</div>





<form action="/holler" method="post">
    <textarea class="textarea" name="tweet" placeholder="Add holler here"></textarea>
    <input class = "submit holer" type="submit" value="Holler">
</form>
</div>
<!--
<div id="footer">
Copyright © Aunt Sharlene's Squirrel Bucket, LLC.
</div> -->


